@import "./transitions";
@import "./fonts";

* {
    box-sizing: border-box;
    font-family: Dana;
    letter-spacing: 0 !important;
}

body {
    background: #F5F5F5;
    overflow-x: hidden;
    overflow-y: hidden;
}

svg {
    line-height: 0 !important;
}

.sticky-top {
    top: 2rem !important;
}

.br-9 {
    border-radius: 9px !important;
}

p {
    margin: 0 !important;
}

html {
    scroll-behavior: smooth;
}